.pedido-form {
  background-color: #395ab6;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.pedido-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-field, .pedido-form select, .pedido-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 12px;
}

.input-field:focus, .pedido-form select:focus, .pedido-form textarea:focus {
  outline: 2px solid #9333ea;
}

.checkbox-label {
  display: flex;
  gap: 8px;
}

.submit-btn {
  width: 100%;
  background-color: #9333ea;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background-color: #7e22ce;
}
